[Unit]
Description=Openstack Glance Scrubber Service
After=network.target remote-fs.target
ConditionPathExists=/etc/glance/glance-scrubber.conf

[Service]
User=glance
Group=glance
ExecStart=/usr/bin/glance-scrubber --config-file /etc/glance/glance-api.conf --config-file /etc/glance/glance-scrubber.conf --log-config-append /etc/glance/logging_scrubber.conf
PIDFile=/var/run/glance-scrubber.pid

[Install]
WantedBy=multi-user.target
