[Unit]
Description=Openstack Glance Registry Service
After=network.target remote-fs.target
ConditionPathExists=/etc/glance/glance-registry.conf

[Service]
User=glance
Group=glance
ExecStart=/usr/bin/glance-registry --config-file /etc/glance/glance-registry.conf --log-config-append /etc/glance/logging_registry.conf
PIDFile=/var/run/glance-registry.pid

[Install]
WantedBy=multi-user.target
