[Unit]
Description=Open iSCSI Service
After = network.target remote-fs.target
ConditionPathExists = /etc/iscsi/iscsid.conf

[Service]
Type = simple
EnvironmentFile=/etc/conf.d/iscsid
# Require kernel modules: libiscsi scsi_transport_iscsi iscsi_tcp
ExecStart = /usr/sbin/iscsid -c $CONFIG_FILE -i $INITIATORNAME_FILE -f $OPTS
PIDFile=/var/run/iscsid.pid

[Install]
WantedBy = multi-user.target

