# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit autotools

SRC_URI="{{ src_uri }}"

DESCRIPTION="Container-based approach to boot a full Android system on a regular GNU/Linux"
HOMEPAGE="https://github.com/waydroid/waydroid"

LICENSE="GPL-3.0"
SLOT="0"
KEYWORDS="*"
IUSE="systemd apparmor nftables"

post_src_unpack() {
	mv "${WORKDIR}"/waydroid* "${S}" || die
}

src_compile() {
	# do nothing
}

src_install() {
	USE_SYSTEMD=$(usex systemd 1 0) \
		USE_NFTABLES=$(usex nftables 1 0) \
		PREFIX=${D}/usr \
		emake install

	if use apparmor ; then
		USE_SYSTEMD=$(usex systemd 1 0) \
			USE_NFTABLES=$(usex nftables 1 0) \
			PREFIX=${D}/usr \
		emake install_apparmor
	fi
}

# vim: filetype=ebuild
