[Unit]
Description=Backrest Service
After=network.target

[Service]
Type=simple
User=backrest
Group=backrest
ExecStart=/usr/bin/backrest
EnvironmentFile=/etc/conf.d/backrest
Environment="BACKREST_PORT=127.0.0.1:9898"

[Install]
WantedBy=multi-user.target
