[Unit]
Description=OVN controller daemon
After=syslog.target
Requires=ovs-vswitchd.service
After=ovs-vswitchd.service

[Service]
Type=forking
PIDFile=/var/run/ovn/ovn-controller.pid
Restart=on-failure
Environment=OVN_RUNDIR=%t/ovn
Environment=OVN_DBDIR=/var/lib/ovn
Environment=OVS_RUNDIR=%t/openvswitch
EnvironmentFile=/etc/conf.d/ovn-controller
ExecStart=/usr/share/ovn/scripts/ovn-ctl \
          start_controller $OVN_CTL_OPTS
ExecStop=/usr/share/ovn/scripts/ovn-ctl stop_controller

[Install]
WantedBy=multi-user.target
