[Unit]
Description=OVN northd management services
After=syslog.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=OVN_RUNDIR=%t/ovn
Environment=OVN_DBDIR=/var/lib/ovn
EnvironmentFile=/etc/conf.d/ovn-central
ExecStart=/usr/share/ovn/scripts/ovn-ctl \
          start_northd $OVN_CTL_OPTS
ExecStop=/usr/share/ovn/scripts/ovn-ctl stop_northd

[Install]
WantedBy=multi-user.target

