[Unit]
Description=FreeRADIUS Server
After=network.target

[Service]
User="radius"
Group="radius"
# ExecStartPre=/etc/raddb/certs/bootstrap
ExecStartPre=/usr/sbin/radiusd -C
ExecStart=/usr/sbin/radiusd -f -d /etc/raddb
ExecReload=/usr/sbin/radiusd -C
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
