[Unit]
Description=Container hypervisor based on LXC

[Service]
ExecStart=/usr/sbin/incusd --group incus-admin
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
