[Unit]
Description=Incus - User daemon
After=incus-user.socket incusd.service
Requires=incus-user.socket

[Service]
EnvironmentFile=-/etc/conf.d/incus-user
ExecStart=/usr/sbin/incus-user --group incus $INCUS_USER_OPTIONS
Restart=on-failure

[Install]
Also=incus-user.socket
