# arangodb3.service

[Unit]
Description=ArangoDB v3 Database
After=sysinit.target sockets.target timers.target paths.target slices.target network.target syslog.target

[Service]
Type=simple

# system limits
LimitNOFILE=131072
LimitNPROC=131072
TasksMax=131072

Environment=GLIBCXX_FORCE_NEW=1

#PIDFile=/var/run/arangod3/arangod3.pid
RuntimeDirectory=arangod3
ExecStart=/usr/sbin/arangod --server.uid arangodb3 --server.gid arangodb3
#ExecStart=/usr/sbin/arangod --pid-file /var/run/arangod3/arangod.pid --server.uid arangodb3 --log.foreground-tty true
ExecStop=/bin/kill -2 $MAINPID

TimeoutStopSec=3600
TimeoutSec=3600

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
