# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit meson

DESCRIPTION="X.Org combined protocol headers"
HOMEPAGE="https://cgit.freedesktop.org/xorg/proto/xorgproto/"
SRC_URI="{{artifacts|map(attribute='src_uri')|join(' ')}}"
KEYWORDS="*"

LICENSE="GPL-2 MIT"
SLOT="0"

RDEPEND="
{%- for peeve in peeves %}
    ={{peeve}}*:0/stub
{%- endfor %}"

post_src_unpack() {
	shadir="${WORKDIR}"/{{ GITLAB_PROJ }}-{{ GITLAB_TAG }}
	shortdir="${WORKDIR}"/{{ GITLAB_PROJ }}-{{ version }}

	if [ ! -d "${S}" ]; then
		if [ -d "${shadir}" ]; then
			mv "${shadir}" "${S}" || die
		else if [ -d "${shortdir}" ]; then
			mv "${shortdir}" "${S}" || die
		fi
		fi
	fi
}

src_configure() {
	local emesonargs=(
		--datadir="${EPREFIX}/usr/share"
		-Dlegacy=false
	)
	meson_src_configure
}

src_compile() {
	meson_src_compile
}

src_install() {
	meson_src_install
	DOCS=(
		AUTHORS
		PM_spec
		$(set +f; echo COPYING-*)
		$(set +f; echo *.txt | grep -v meson.txt)
	)
	einstalldocs
}
