[Unit]
Description=Cassandra
After=network.target

[Service]
Type=forking
PIDFile=/var/lib/cassandra/cassandra.pid
Environment=CASSANDRA_CONF=/etc/cassandra
Environment=CASSANDRA_HOME=/opt/cassandra
# Avoid ldconfig for found jemalloc library
Environment=CASSANDRA_LIBJEMALLOC=/usr/lib64/libjemalloc.so
Environment=CASSANDRA_INCLUDE=/opt/cassandra/bin/cassandra.in.sh
User=cassandra
Group=cassandra
ExecStart=/usr/bin/cassandra -p /var/lib/cassandra/cassandra.pid
StandardOutput=journal
StandardError=journal
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_IPC_LOCK
LimitNOFILE=infinity
# It's java!
TimeoutStartSec=3min

[Install]
WantedBy=multi-user.target
