# Author: Geaaru, geaaru[@]gmail.com
# Description: Apache ServiceMix
[Unit]
Description=Apache ServiceMix Server
After=network.target
ConditionPathExists=/etc/default/smx-6.1.conf
ConditionPathExists=/opt/apache-servicemix/bin/karaf_linux.sh

[Service]
# Set here user/group used/configured
EnvironmentFile=/etc/default/smx-6.1.conf
User=smx
Group=smx
# Set maximum open file description to 20000
#LimitNOFILE=20000
WorkingDirectory=/opt/apache-servicemix/
ExecStartPre=/opt/apache-servicemix/bin/karaf_linux.sh check
ExecStart=/opt/apache-servicemix/bin/karaf_linux.sh start
RuntimeDirectory=smx
# If enable Type forking PIDFile is not needed.
Type=forking
#PIDFile=/var/run/smx/smx5.pid

# Set KILL signal after 60 seconds if service is already up after SIGTERM
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
