[Unit]
Description=Openstack Nova Network Service
After=network.target remote-fs.target
ConditionPathExists=/etc/nova/nova.conf

[Service]
User=nova
Group=nova
EnvironmentFile=-/etc/conf.d/nova
ExecStart=/usr/bin/nova-network --config-file /etc/nova/nova.conf  $NOVA_ARGS
PIDFile=/var/run/nova/nova-network.pid
RuntimeDirectory=nova

[Install]
WantedBy=multi-user.target

