# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit go-module bash-completion-r1

EGO_SUM=(
{{gosum}})

DESCRIPTION="A backup program that is fast, efficient and secure"
HOMEPAGE="https://restic.github.io/"
SRC_URI="{{ src_uri }}"

LICENSE="Apache-2.0 BSD BSD-2 LGPL-3-with-linking-exception MIT"
SLOT="0"
KEYWORDS="*"

RDEPEND="sys-fs/fuse:0"
DEPEND="${RDEPEND}"

post_src_unpack() {
	mv ${WORKDIR}/restic-* ${S}
}

src_compile() {
	go build -ldflags '-X main.version={{ version }}' \
		-asmflags "-trimpath=${S}" \
		-gcflags "-trimpath=${S}" \
		-o restic ./cmd/restic
}

src_install() {
	dobin restic

	newbashcomp doc/bash-completion.sh "${PN}"

	insinto /usr/share/zsh/site-functions
	newins doc/zsh-completion.zsh _restic

	insinto /usr/share/fish/vendor_completions.d/
	newins doc/fish-completion.fish "${PN}"

	doman doc/man/*
	dodoc doc/*.rst
}
