[Unit]
Description=Openstack Neutron RYU Agent Service
After=network.target remote-fs.target
ConditionPathExists=/etc/neutron/neutron.conf

[Service]
User=neutron
Group=neutron
Type = simple
EnvironmentFile=-/etc/conf.d/neutron
ExecStart=/usr/bin/neutron-ryu-agent --config-file /etc/neutron/neutron.conf --log-file /var/log/neutron/neutron-ryu.log  $NEUTRON_DAEMON_OPTS
PIDFile=/var/run/neutron/neutron-ryu.pid
RuntimeDirectory=neutron

[Install]
WantedBy=multi-user.target

