[Unit]
Description=Openstack Neutron Hyper-V Agent Service
After=network.target remote-fs.target
ConditionPathExists=/etc/neutron/neutron.conf
ConditionPathExists=/etc/neutron/hyperv_agent.ini

[Service]
User=neutron
Group=neutron
Type = simple
EnvironmentFile=-/etc/conf.d/neutron
ExecStart=/usr/bin/neutron-hyperv-agent --config-file /etc/neutron/neutron.conf --log-file /var/log/neutron/neutron-hyperv.log  $NEUTRON_DAEMON_OPTS
PIDFile=/var/run/neutron/neutron-hyperv.pid
RuntimeDirectory=neutron

[Install]
WantedBy=multi-user.target

