[Unit]
Description=Openstack Neutron L3 Agent Service
After=network.target remote-fs.target
ConditionPathExists=/etc/neutron/neutron.conf
ConditionPathExists=/etc/neutron/l3_agent.ini

[Service]
User=neutron
Group=neutron
Type = simple
EnvironmentFile=-/etc/conf.d/neutron
ExecStart=/usr/bin/neutron-l3-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/l3_agent.ini --log-file /var/log/neutron/neutron-l3.log --config-file /etc/neutron/plugins/openvswitch/ovs_neutron_plugin.ini  $NEUTRON_DAEMON_OPTS
PIDFile=/var/run/neutron/neutron-l3.pid
RuntimeDirectory=neutron

[Install]
WantedBy=multi-user.target

