[Unit]
Description=Openstack Neutron DHCP Agent Service
After=network.target remote-fs.target
ConditionPathExists=/etc/neutron/neutron.conf
ConditionPathExists=/etc/neutron/dhcp_agent.ini

[Service]
User=neutron
Group=neutron
Type = simple
EnvironmentFile=-/etc/conf.d/neutron
ExecStart=/usr/bin/neutron-dhcp-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/dhcp_agent.ini --log-file /var/log/neutron/neutron-dhcp.log  $NEUTRON_DAEMON_OPTS
PIDFile=/var/run/neutron/neutron-dhcp.pid
RuntimeDirectory=neutron

[Install]
WantedBy=multi-user.target
