# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit cmake

DESCRIPTION="Tidy the layout and correct errors in HTML and XML documents"
HOMEPAGE="https://www.html-tidy.org/"
SRC_URI="{{ src_uri }}"

LICENSE="BSD"
SLOT="0"
KEYWORDS="*"
IUSE="deprecated"

DOCS=( README.md README/CHANGELOG.md )

{%- if patches %}
PATCHES=(
{%- for patch in patches %}
	"${FILESDIR}"/"{{patch}}"
{%- endfor %}
)
{%- endif %}

post_src_unpack() {
	mv {{ github_user }}-{{ github_repo }}-* "${S}"
}

src_configure() {
	local mycmakeargs=(
		-DTIDY_CONSOLE_SHARED=ON
	)
	use deprecated && mycmakeargs+=(
		-DBUILD_TAB2SPACE=ON
		-DTIDY_COMPAT_HEADERS=ON
	)
	cmake_src_configure
}

src_install() {
	cmake_src_install
	use deprecated && dobin "${BUILD_DIR}"/tab2space
}
